{{ partial "global-header.html" . }}


<!--list of members-->
{{ with.Site.Params.team }}
<section id="team" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ .title}}</h2>
        <h3 class="section-subheading text-mutedwith ">{{ .subtitle}}</h3>
      </div>
    </div>
    <div class="row flexbox">

        <div class="col-sm-4 col">
          <div class="team-member">

            <img src="{{ $.Site.BaseURL }}{{ .img }}"  class="img-responsive img-circle" alt="">
            <h3>{{ .name}}</h3>

            <h4>{{ .position}}</h4>
          </div>
        </div>

        <div class="col-sm-4 col">
          <div class="team-member">

            <img src="{{ $.Site.BaseURL }}{{ .img1 }}"  class="img-responsive img-circle" alt="">
            <h3>{{ .name1}}</h3>

            <h4>{{ .position1}}</h4>
          </div>
        </div>

        <div class="col-sm-4 col">
          <div class="team-member">

            <img src="{{ $.Site.BaseURL }}{{ .img0 }}"  class="img-responsive img-circle" alt="">
            <h3>{{ .name0}}</h3>

            <h4>{{ .position0}}</h4>
          </div>
        </div>

        <div class="col-sm-4 col">
          <div class="team-member">

            <img src="{{ $.Site.BaseURL }}{{ .img2 }}"  class="img-responsive img-circle" alt="">
            <h3>{{ .name2}}</h3>

            <h4>{{ .position2}}</h4>
          </div>
        </div>
        <div class="col-sm-4 col">
          <div class="team-member">

            <img src="{{ $.Site.BaseURL }}{{ .img4 }}"  class="img-responsive img-circle" alt="">
            <h3>{{ .name4}}</h3>

            <h4>{{ .position4}}</h4>
          </div>
        </div>

        <div class="col-sm-4 col">
          <div class="team-member">

            <img src="{{ $.Site.BaseURL }}{{ .img5 }}"  class="img-responsive img-circle" alt="">
            <h3>{{ .name5}}</h3>

            <h4>{{ .position5}}</h4>
          </div>
        </div>

        <div class="col-sm-4 col">
          <div class="team-member">

            <img src="{{ $.Site.BaseURL }}{{ .img3 }}"  class="img-responsive img-circle" alt="">
            <h3>{{ .name3}}</h3>

            <h4>{{ .position3}}</h4>
          </div>
        </div>

        <div class="col-sm-4 col">
          <div class="team-member">

            <img src="{{ $.Site.BaseURL }}{{ .img6 }}"  class="img-responsive img-circle" alt="">
            <h3>{{ .name6}}</h3>

            <h4>{{ .position6}}</h4>
          </div>
        </div>

        <div class="col-sm-4 col">
          <div class="team-member">

            <img src="{{ $.Site.BaseURL }}{{ .img7 }}"  class="img-responsive img-circle" alt="">
            <h3>{{ .name7}}</h3>

            <h4>{{ .position7}}</h4>
          </div>
        </div>

        <div class="col-sm-4 col">
          <div class="team-member">

            <img src="{{ $.Site.BaseURL }}{{ .img8 }}"  class="img-responsive img-circle" alt="">
            <h3>{{ .name8}}</h3>

            <h4>{{ .position8}}</h4>
          </div>
        </div>

        <div class="col-sm-4 col">
          <div class="team-member">

            <img src="{{ $.Site.BaseURL }}{{ .img9 }}"  class="img-responsive img-circle" alt="">
            <h3>{{ .name9}}</h3>

            <h4>{{ .position9}}</h4>
          </div>
        </div>

        <div class="col-sm-4 col">
          <div class="team-member">

            <img src="{{ $.Site.BaseURL }}{{ .img10 }}"  class="img-responsive img-circle" alt="">
            <h3>{{ .name10}}</h3>

            <h4>{{ .position10}}</h4>
          </div>
        </div>

        <div class="col-sm-4 col">
          <div class="team-member">

            <img src="{{ $.Site.BaseURL }}{{ .img11 }}"  class="img-responsive img-circle" alt="">
            <h3>{{ .name11}}</h3>

            <h4>{{ .position11}}</h4>
          </div>
        </div>

        <div class="col-sm-4 col">
          <div class="team-member">

            <img src="{{ $.Site.BaseURL }}{{ .img12 }}"  class="img-responsive img-circle" alt="">
            <h3>{{ .name12}}</h3>

            <h4>{{ .position12}}</h4>
          </div>
        </div>
      </div>
  </div>
</section>
{{ end }}
